<div class="index_tips">
	<a class="close" href="javascript:void(0)" onclick="close_tips(this)"></a>
	<p>您正在访问的是量化街，本网站所提供的内容及信息均遵守中华人民共和国香港特别行政区的法律法规。</p>
</div>
<div class="index_head">
	<div class="hd">
		<a href="#" class="fr">查看总排行榜</a>
		<div class="sec_title"><i class="top3"></i>每月量化街TOP3</div>
	</div>
	<div class="sec_top3">
		<div class="section">
			<div class="username">烽火四起八</div>
			<div class="info">
				<div class="left">
					<strong>总盈利</strong>
					<code>222222.4%</code>
				</div>
				<div class="right">
					<li>
						<label>年龄</label>2年
					</li>
					<li>
						<label>月盈利率</label>83.91%
					</li>
					<li>
						<label>最大浮亏</label>83.91%
					</li>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="username">烽火四起八</div>
			<div class="info">
				<div class="left">
					<strong>总盈利</strong>
					<code>222.4%</code>
				</div>
				<div class="right">
					<li>
						<label>年龄</label>2年
					</li>
					<li>
						<label>月盈利率</label>83.91%
					</li>
					<li>
						<label>最大浮亏</label>83.91%
					</li>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="username">烽火四起八</div>
			<div class="info">
				<div class="left">
					<strong>总盈利</strong>
					<code>222.4%</code>
				</div>
				<div class="right">
					<li>
						<label>年龄</label>2年
					</li>
					<li>
						<label>月盈利率</label>83.91%
					</li>
					<li>
						<label>最大浮亏</label>83.91%
					</li>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="index_adv">
	<img src="/static/img/index_adv.png" />
</div>

<div class="index_body">
	<div class="hd">
		<div class="sec_title"><i class="index_paihangbang"></i>收益排行榜</div>
		<div class="tab">
			<ul>
				<li>实盘认证</li>
				<li class="active">模拟账户</li>
			</ul>
		</div>
		<a href="#">更多</a>
	</div>
	<div class="bd">
		<table>
			<thead>
				<tr>
					<th>基本信息</th>
					<th width="120">专注品种</th>
					<th width="120">总盈亏</th>
					<th width="120">年龄</th>
					<th width="120">月盈利率</th>
					<th width="120">最大浮亏</th>
					<th width="300">走势图</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="txtleft">
						<span class="xuhao">1</span>
						<img class="avartar" src="/static/img/user_avartar.png" />
						<div class="info">
							<div class="username jieq">烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八</div>
							<div class="action">
								<img src="/static/img/ico_tag1.png" />
								<img src="/static/img/ico_tag2.png" />
							</div>
						</div>
					</td>
					<td>XAUUSDS</td>
					<td class="code">223.33%</td>
					<td class="code">33</td>
					<td class="code">223.33%</td>
					<td class="code">223.33%</td>
					<!-- <td><img class="phb_zhexiantu" src="/static/img/zhexiantu.jpg" /></td> -->
				</tr>
				<tr>
					<td class="txtleft">
						<span class="xuhao">2</span>
						<img class="avartar" src="/static/img/user_avartar.png" />
						<div class="info">
							<div class="username jieq">烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八</div>
							<div class="action">
								<img src="/static/img/ico_tag1.png" />
								<img src="/static/img/ico_tag2.png" />
							</div>
						</div>
					</td>
					<td>XAUUSDS</td>
					<td class="code">223.33%</td>
					<td class="code">33</td>
					<td class="code">223.33%</td>
					<td class="code">223.33%</td>
					<!-- <td><img class="phb_zhexiantu" src="/static/img/zhexiantu.jpg" /></td> -->
				</tr>
				<tr>
					<td class="txtleft">
						<span class="xuhao">3</span>
						<img class="avartar" src="/static/img/user_avartar.png" />
						<div class="info">
							<div class="username jieq">烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八</div>
							<div class="action">
								<img src="/static/img/ico_tag1.png" />
								<img src="/static/img/ico_tag2.png" />
							</div>
						</div>
					</td>
					<td>XAUUSDS</td>
					<td class="code">223.33%</td>
					<td class="code">33</td>
					<td class="code">223.33%</td>
					<td class="code">223.33%</td>
					<!-- <td><img class="phb_zhexiantu" src="/static/img/zhexiantu.jpg" /></td> -->
				</tr>
				<tr>
					<td class="txtleft">
						<span class="xuhao">4</span>
						<img class="avartar" src="/static/img/user_avartar.png" />
						<div class="info">
							<div class="username jieq">烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八</div>
							<div class="action">
								<img src="/static/img/ico_tag1.png" />
								<img src="/static/img/ico_tag2.png" />
							</div>
						</div>
					</td>
					<td>XAUUSDS</td>
					<td class="code">223.33%</td>
					<td class="code">33</td>
					<td class="code">223.33%</td>
					<td class="code">223.33%</td>
					<!-- <td><img class="phb_zhexiantu" src="/static/img/zhexiantu.jpg" /></td> -->
				</tr>
				<tr>
					<td class="txtleft">
						<span class="xuhao">5</span>
						<img class="avartar" src="/static/img/user_avartar.png" />
						<div class="info">
							<div class="username jieq">烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八</div>
							<div class="action">
								<img src="/static/img/ico_tag1.png" />
								<img src="/static/img/ico_tag2.png" />
							</div>
						</div>
					</td>
					<td>XAUUSDS</td>
					<td class="code">223.33%</td>
					<td class="code">33</td>
					<td class="code">223.33%</td>
					<td class="code">223.33%</td>
					<!-- <td><img class="phb_zhexiantu" src="/static/img/zhexiantu.jpg" /></td> -->
				</tr>
				<tr>
					<td class="txtleft">
						<span class="xuhao">6</span>
						<img class="avartar" src="/static/img/user_avartar.png" />
						<div class="info">
							<div class="username jieq">烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八</div>
							<div class="action">
								<img src="/static/img/ico_tag1.png" />
								<img src="/static/img/ico_tag2.png" />
							</div>
						</div>
					</td>
					<td>XAUUSDS</td>
					<td class="code">223.33%</td>
					<td class="code">33</td>
					<td class="code">223.33%</td>
					<td class="code">223.33%</td>
					<!-- <td><img class="phb_zhexiantu" src="/static/img/zhexiantu.jpg" /></td> -->
				</tr>
				<tr>
					<td class="txtleft">
						<span class="xuhao">7</span>
						<img class="avartar" src="/static/img/user_avartar.png" />
						<div class="info">
							<div class="username jieq">烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八</div>
							<div class="action">
								<img src="/static/img/ico_tag1.png" />
								<img src="/static/img/ico_tag2.png" />
							</div>
						</div>
					</td>
					<td>XAUUSDS</td>
					<td class="code">223.33%</td>
					<td class="code">33</td>
					<td class="code">223.33%</td>
					<td class="code">223.33%</td>
					<!-- <td><img class="phb_zhexiantu" src="/static/img/zhexiantu.jpg" /></td> -->
				</tr>
				<tr>
					<td class="txtleft">
						<span class="xuhao">8</span>
						<img class="avartar" src="/static/img/user_avartar.png" />
						<div class="info">
							<div class="username jieq">烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八烽火四起八</div>
							<div class="action">
								<img src="/static/img/ico_tag1.png" />
								<img src="/static/img/ico_tag2.png" />
							</div>
						</div>
					</td>
					<td>XAUUSDS</td>
					<td class="code">223.33%</td>
					<td class="code">33</td>
					<td class="code">223.33%</td>
					<td class="code">223.33%</td>
					<!-- <td><img class="phb_zhexiantu" src="/static/img/zhexiantu.jpg" /></td> -->
				</tr>
			</tbody>
		</table>
	</div>
</div>
